.class {
	color: #00ff00;
}
#header {
background-color: #66CCFF;
text-align: center;
padding: 10px;
color: white;
}

#container{
background-color: white;
width:800px;
margin-right: auto;
margin-left: auto;
}

#content{
padding:10px;
}

#nav{
width: 180px;
float: left;
}

#nav ul{
list-style-type: none;
padding:0;
}

#nav .selected{
font-weight: bold;
color:blue;
}

#main{
width:600px;
float:right;
}

#footer{
clear: both;
padding: 10px;
background-color: #999999;
color:white;
text-align: right;
}
body {
background-color: #EEE;
font-family: Helvetica,Arial,sana-serif;

}

a{
text-decoration: none;
color: red;
}

h1,h2,h3{
margin: 0;
}
